.backy {
    background-image: url("backy.gif");
    background-size: cover;
}
main {
    width: 100%;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
.bottomgrid {
    display: grid;
    grid-template-columns: 40% 60%;
}
.gold {
    color:rgb(255, 251, 0);
}
.green {
    color:rgb(0, 255, 76);
}
.shop {
    color: white;
    font-size: 2vw;
    background-color: coral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: solid;
}
.shop[disabled] {
    background-color: grey;
}
.fattext {
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: rgb(37, 37, 37);
}
.lesstext {
    font-size: 2.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: rgb(37, 37, 37);
}
.bosstext {
    color: hsl(0, 92%, 61%);
}
.bossimg {
    width: 30%;
    -webkit-user-drag: none;
}
.progress-container {
    margin-left: 0%;
    margin-right: 0%;
    border: solid rgb(194, 194, 194) 5px;
}
.progress-bar {
    height: 30px;
    background-color: rgb(77, 199, 55);
}